# RainViewer Pro Unlock Snippet
# 作用：解锁 RainViewer 实时雷达高级功能及去广告
# 适用：Quantumult X

[rewrite_local]
# 精准匹配你抓包到的 2026 新接口
^https?:\/\/api\.rainviewer\.com\/mobile\/purchases\/ios\/actual url script-response-body https://raw.githubusercontent.com/viyfe/Script/refs/heads/main/rainviewer.js

[mitm]
hostname = api.rainviewer.com
