# RainViewer Pro Unlock Snippet
# 作用：解锁 RainViewer 实时雷达高级功能及去广告
# 适用：Quantumult X

[rewrite_local]
# 拦截 actual 路径和 profile 路径
^https?:\/\/api\.rainviewer\.com\/(mobile\/purchases\/ios\/actual|v2\/profile) url script-response-body https://raw.githubusercontent.com/viyfe/Script/refs/heads/main/rainviewer.js

[mitm]
hostname = api.rainviewer.com
